# .NET
**/bin/
**/obj/
*.user
*.suo
*.cache

# Node / Angular
**/node_modules/
**/dist/
**/.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.vscode/
.idea/
Thumbs.db
Desktop.ini

